---
import Savings from "../assets/savings.svg";
import Gift from "../assets/gift.svg";
import Blackboard from "../assets/blackboard.svg";
import AlarmClock from "../assets/alarm_clock.svg";
import Book from "../assets/book.svg";
import Pencil from "../assets/pencil.svg";
import Mortarboard from "../assets/mortarboard.svg";
---

<section class="product-hero">
  <div class="container">
    <div class="d-table">
      <div class="d-table-cell center">
        <div class="hero-copy">
          <h1 class="h1-title">
            Save Time on Lesson Planning & Record-Keeping
          </h1>

          <p>
            Effortlessly create lesson plans, records of work, and schemes of
            work—all in one app. Save time, stay organized, and easily share
            with colleagues. No more manual paperwork!
          </p>

          <div class="product-cta">
            <a href="/join_waitlist" class="button button-primary u-full-width"
              >Get Started!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="hero-media">
      <img src={Blackboard.src} alt="Blackboard" />
      <img src={AlarmClock.src} alt="Alarm Clock" />
      <img src={Book.src} alt="Book" />
      <img src={Pencil.src} alt="Pencil" />
      <img src={Mortarboard.src} alt="Mortarboard" />
    </div>
  </div>
</section>

<style lang="scss">
  .product-hero {
    padding: 50px 0;
    .container {
      position: relative;
      .d-table {
        height: 500px;
      }
    }
    .hero-media {
      padding: 5px;
      border-radius: 48px;
    }
    .hero-copy {
      h1,
      p {
        max-width: 600px;
        margin: 20px auto;
      }
    }
    .hero-media {
      img {
        position: absolute;
        width: 160px;
        &:nth-child(1) {
          top: 0;
          left: -100px;
        }
        &:nth-child(2) {
          top: 0;
          right: -100px;
        }
        &:nth-child(3) {
          top: 250px;
          left: 0;
        }
        &:nth-child(4) {
          top: 250px;
          right: 0;
        }
        &:nth-child(5) {
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @media (max-width: 700px) {
        img {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
</style>
